@import "nib"
@import "fonts.styl"
@import "foundation.styl"

hr_main_color = #0D86EE
hr_secundary_color = #000000
hr_secundary_alpha = rgba(0,0,0,.8)
hr_green = #93FF6C
hr_gris = #515151

*,
*:after,
*:before
	box-sizing border-box 

a
	text-decoration none
body
	font-family 'Open Sans', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0
label
	display inline-block
	width 100%
input
	&:valid
		border 1px solid green

// CSS General
.noPadding 
	padding 0
.border-bottom
	border-bottom 1px solid #919191
.push-left
	right 272px !important
.show-menu
	display block !important
.ohidden
	overflow hidden
.left
	float left !important 
.right
	float right !important 
.clearfixbefore, .clearfixafter
	content " "
	display table 
.clearfixafter
	clear both 
.hide
	display none !important
	visibility hidden 
.invisible
	visibility hidden 
.column.centered,
.columns.centered
	margin-left auto
	margin-right auto
	float none 
.text-center
	text-align center


// CSS
.content
	position relative
#top-nav
	background-color hr_secundary_color
	color #fff
	height 42px
	position fixed
	top 0
	width 100%
	z-index 1000
	&.scrolled
		background-color hr_secundary_alpha
nav
	overflow hidden
	.logo
		margin-top 0.5em
	ul
		list-style none
		overflow hidden
	li
		float left
		margin-right 3.002em
		overflow hidden
		padding .4em 0
		&:last-child
			margin-right 0
			a
				color hr_green
		a
			color #FFFFFF
			float left
			text-transform uppercase
	#mobile-button
		cursor pointer
		font-size 32px
		padding .1em 10px
		width 50px

#post-promoted
	margin-top 42px
	overflow hidden
	position relative
	#category-title
		background-color hr_secundary_alpha
		overflow hidden
		position absolute
		top 0
		left 0
		z-index 9
		text-align center
		h1
			color #fff
			font-size 1.5em
			margin 0
			padding .37em 0
	.author-box
		.avatar 
			height auto
			width 50px
			img 
				height auto
				width 50px

#image-promoted
	background-color #333

#post-info
	background-color hr_secundary_alpha
	color #fff
	padding-bottom .8em
	h2
		color #fff
		font-size 1.6em
		font-weight 700
		margin-top 0
		padding-top .4em
		a
			color #fff
	.author-box
		overflow hidden
		padding-top .5em
		.avatar
			float left
			margin-right: 0.5em
			width auto
			img
				border-radius 50%
		.author-info
			float left
			.author-name
				font-size 1.6em
				font-weight 400
				line-height 1em
			.date-post
				font-size 1em

#post-list
	margin-top 1em
	overflow hidden
	h2.last-post
		color hr_main_color
		font-size 2em
article
	margin-bottom 4.5em
	.post-image
		position relative
		.count-comments
			background-color rgba(75,75,75,.8)
			border-radius 0 0 0 5px
			color #fff
			font-size .7em
			padding .3em
			position absolute
			top 0
			right 0
			
		a
			display inline-block
			width 100%
	h2
		color hr_main_color
		font-size 1.4em
		font-weight 700
		margin 0 0 .2em
		padding .4em 0
		text-align: center;
		a
			color hr_main_color
	.post-content
		color hr_gris
		font-size 1.2rem
		height 120px
		margin-bottom 1em
		overflow hidden
		position relative
		&:after
			content ""
			display block
			position absolute
			bottom -5px
			left 0
			width 100%
			height 80%
			background-size 100%
			background gradient(linear,50% 0,50% 100%,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#FFFFFF))
			background linear-gradient(top,rgba(255,255,255,0) 0,#FFFFFF 100%)
	.post-footer
		overflow hidden
		.date-post
			color hr_main_color

.page-content
	margin-top 42px
	min-height 450px
	overflow hidden
	position relative
	h1
		font-size 2.2rem
	p
		color hr_gris
		font-size 1.4rem
	.page-image
		background-color hr_secundary_color
		background-position center
		background-repeat no-repeat
		background-size cover
		position relative
		h1
			z-index: 2;
		&:after
			background-color rgba(0,0,0,.3)
			content ''
			height 100%
			position absolute
			width 100%	
	h2
		margin-top 1.2em
		&.publicity
			font-size 2em
	.input-icon
		color hr_main_color
		font-size 12em
		text-align center

.extraTitle__one
	font-size 2.65em
	font-weight bold
	padding 1em 10px 1em
	span
		color hr_main_color

.extraTitle__two
	font-size 2.5em
	font-weight bold
	padding 1em 10px 1em

#single-main
	margin-top 42px
	overflow hidden
	position relative
.single-image
	overflow hidden
	position relative
	img
		position absolute
		top 0
	h1
		background gradient(linear,50% 0,50% 100%,color-stop(0,rgba(0,0,0,0)),color-stop(80%,rgba(51,51,51,.8)))
		background linear-gradient(top,rgba(0,0,0,0) 0,rgba(51,51,51,.8) 80%)
		bottom 0
		color #fff
		font-size 2.8em
		left 0 
		margin 0
		padding .5em 1em 1em
		position absolute
		text-align left
		width 100%
.single-content
	color hr_gris
	font-size 1.4em
	margin-bottom 2em
	padding 1.5em 1em 0
.single-social
	overflow hidden
	padding-bottom 4em
	text-align center
	.fb-box,
	.twitter-box,
	.gplus-box
		display inline-block
		vertical-align top
.single-info
	border-bottom 1px solid #919191
	border-top 1px solid #919191
	font-size 1.8em
	margin-bottom 2em
	padding 2em 0
	position relative
	text-align center
	&:before
		content ""
		border-top 1px solid #919191
		left 0
		position absolute
		top 3px
		width 100%
	&:after
		content ""
		border-bottom 1px solid #919191
		left 0
		position absolute
		bottom 3px
		width 100%
	.single-author-avatar
		img 
			border-radius 50%
	.single-post-date
		color hr_main_color
		font-size 1rem

#hr-read-progress
	background-color hr_secundary_alpha
	display table
	height 42px
	position fixed
	text-align left
	top 0
	width 100% 
	z-index 9
	#hr-progress-bar
		background #edeff0
		position relative
		overflow hidden
		height 10px
		border-radius 5px
		box-shadow 0 1px 0 0 rgba(0,0,0,0.05) inset
		margin 0 0 10px 0
		width 100%
		z-index 2
		.progress
			background-color hr_main_color
			font-size 0
			height 10px
			line-height 16px
			transition width linear 0.1s
			.value
				display none
	.hr-text
		font-variant-numeric lining-nums
		font-feature-settings "lnum" 1
		color #fff
		font-weight bold
		letter-spacing 2px
		margin-top .4em
		position relative
		text-align center
		text-transform uppercase
		vertical-align middle
		width 100%
		z-index 2

#hr-next-previous-posts
	background-color hr_secundary_alpha
	display table
	height 42px
	max-width 100%
	position fixed
	text-align left
	top 0
	width 100% 
	z-index 9
	.nav-box
		padding-bottom 5px
		padding-top 5px
		&.previous
			float left
		&.next
			float right 
	.next-prev-title-span
		color #DDD
		display block
		font-size 0.7em
		letter-spacing 4px
		margin 0.4em 0 0.5em 0
		text-transform uppercase
		a
			color #DDD
	.next-prev-title
		color #fff
		display block
		font-size 0.9em
		font-weight 700
		letter-spacing 3px
		overflow hidden
		text-transform uppercase
		word-wrap normal

form,
#suscription
	margin-bottom 3em
	margin-top 1em
.item-box
	position relative
	.input-icon
		color #8B8B8B
		font-size 2em
		left .3em
		position absolute
		text-align center
		top .25em
		width 30px
.submit-box
	input[type="submit"]
		background-color #FF6B0C
		border 1px solid #888888
		border-radius 5px
		color #fff
		padding .95em
		text-transform uppercase
		width 100%

footer
	background-color hr_secundary_color
	color #fff
	height 47px
	padding .2em 0
	.logo
		padding .6em 0
.footer-nav
	ul
		list-style none
		margin .955em 0 0
		overflow hidden
		li
			float left
			a
				color #fff
.footer-redes
	overflow hidden
	figure
		float left
		margin-right .3em
		margin-top .2em
		&:first-child
			margin-right 0

.socbox
	h3
		font-size 1.4rem
	a, p
		color hr_secundary_color
	&.fb
		color #416ab2
		a:hover, a:hover p
			color #416ab2
	&.tw
		color #00c8e5
		a:hover, a:hover p
			color #00c8e5
	&.ml
		color #ffb100
		a:hover, a:hover p
			color #ffb100
	.contact-icon
		display inline-block
		font-size 2em
	p
		display inline-block
		font-size 1em
		margin .6em 0
		vertical-align top


@media screen and (max-width 480px)
	#image-promoted
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		max-height 180px
		min-height 180px
		overflow hidden
		img
			width 100%
@media screen and (max-width 639px)
	#image-promoted
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		max-height 280px
		min-height 280px
		overflow hidden
		img
			width 100%
	.post-image
		max-height 180px
		min-height 180px
		overflow hidden
		a
			display inline-block
			width 100%
			img 
				width 100%

	.page-image
		height 260px
		position relative
	.page-title-caption
		color #fff
		font-size 2em
		margin 0
		max-width 608px
		padding 0 1em
		position absolute
		text-align center
		top 1.5em
	
	#hr-next-previous-posts		
		.nav-box.next
			float none
			text-align center
			width 100% !important
			.next-prev-title-span
				font-size .6em
				margin 0
			.next-prev-title
				margin 0 auto
				width 290px

	.single-image
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		min-height 400px
		max-height 400px
		img
			max-width 1000px
			max-height: 400px;
			min-height: 400px;

	.js-fix
		position absolute
		left 50%

	article
		height 275px !important
		margin-bottom 1em !important

	.footer-nav ul
		margin .755em 0 0

@media only screen and (min-width: 40.063em)
	#post-info
		bottom 0
		margin 1em
		position absolute
		z-index 9
		h2
			border-bottom 1px solid #ccc
			font-size 1.5em
			line-height 1.2em
			margin-bottom .2em
			padding .4em 0 .2em

	.post-image
		max-height 280px
		min-height 280px
		overflow hidden
	.page-image
		height 400px
		position relative
	.page-title-caption
		color #fff
		font-size 2.65em
		margin 0
		padding 0 10%
		position absolute
		text-align center
		top 3.35em
		width 100%

	#image-promoted
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		max-height 400px
		min-height 400px
		overflow hidden
		img
			min-height 400px
			width 100%

	.single-image 
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		min-height 400px
		min-width 100%
		img
			margin-left 0 !important
			min-height 400px
			min-width 100%

	.next 
		text-align left
		.hr-featured-image 
			float left
			margin-right .5em
			img
				border 1px solid #fff
				max-width 32px
				min-height 32px
		.next-prev-title-span
			margin .4em 0 0em 0 !important

	.previous
		text-align right
		.hr-featured-image 
			float right
			margin-left .5em
			img
				border 1px solid #fff
				max-width 32px
				min-height 32px
		.next-prev-title-span
			margin .4em 0 0em 0 !important

	.footer-nav
		text-align center
		text-transform uppercase
		ul
			display inline-block
			margin .815em 0 0
			li
				line-height 1em
				margin-right 1em
				&::last-child
					margin-right 0

	article 	
		height 520px
		overflow: hidden;
		position relative
		h2
			font-size 1.8em
			text-align center

@media only screen and (max-width: 46.875em)
	.post-image
		max-height 180px
		min-height 180px
		overflow hidden
	.nav-box
		&.previous 
			display none !important
		&.next
			text-align center
			width 100% !important

	#image-promoted
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		max-height 400px
		min-height 400px
		overflow hidden
		img
			min-height 400px
			width 100%
	
	.single-image 
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		min-height 400px

	article
		height 400px
		overflow: hidden;
		position relative 
		h2
			font-size 1.4em
			text-align center	

@media screen and (max-width 64.063em) 
	.main_menu
		background-color hr_secundary_color
		bottom: 0
		height: 100%
		overflow: hidden
		position: fixed
		top: 0
		z-index 2000
		width 272px
		&.hide-menu
			right: -272px
		&.show-menu
			right 0
		li
			border-bottom 1px solid #333333
			float left
			text-align center
			width 100%
			a
				color #fff
				height 1em
				line-height 1em
				margin 1em 0
				width 100%
	.post-image
		img
			height 100%
			width 100%	

@media screen and (min-width 64.063em)
	#image-promoted
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		max-height 540px
		min-height 540px
		img
			width 1000px

	article 
		height 415px
		overflow hidden
		position relative
		h2
			font-size 1.4em
			text-align center
		.post-content
			font-size 1rem

	nav li
		padding: .8em 0
	
	.post-image
		max-height 188px
		min-height 188px
		overflow hidden
		img
			width 100%

	.single-image 
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		height 540px
		img
			height auto
			margin-left 0 !important
			width 1000px

	.footer-nav ul li
		line-height 1em
		margin-right .75em

