body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
}

body#tinymce.wp-editor a {
    color: #4CA6CF;
}

body#tinymce.wp-editor ul {
    list-style: none;
}
body#tinymce.wp-editor ul.small-check li {
    background: url(images/misc.png) no-repeat 0px -38px;
    padding-left: 35px;
    height: 25px;
    font-size: 25px;
    font-family: 'Bbold';
    line-height: 1em;
    margin: 0 0 0 5px;
}
body#tinymce.wp-editor ul.large-check li {
    background: url(images/misc.png) no-repeat 0 0;
    padding-left: 40px;
    height: 33px;
    font-size: 33px;
    font-family: 'Bbold';
    line-height: 1em;
    margin: 0 0 0 5px;
}
body#tinymce.wp-editor h1.title {
    color: #136a9c;
    font-family: 'Bbold';
    font-size: 44px;
    line-height: 1em;
}
body#tinymce.wp-editor p {
    font-family: 'Bregular';
    line-height: 1em;
}
body#tinymce.wp-editor .size32 { font-size: 32px }
body#tinymce.wp-editor .size30 { font-size: 30px }
body#tinymce.wp-editor .table-class { font-family: 'Bbold'; font-size: 22px }