@import "nib"
@import "normalize.styl"
@import "fonts.styl"
@import "foundation.styl"

hr_blue = #416AB2

*,
*:after,
*:before
	box-sizing border-box 

a
	text-decoration none
body
	font-family 'Open Sans', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
ul
	margin 0
	padding 0

// CSS General
.noPadding 
	padding 0
.border-bottom
	border-bottom 1px solid #919191
.push-left
	right 272px !important
.show-menu
	display block !important
.js-fix {
	position:absolute;
	left:50%;
}


// CSS
.content
	position relative
#top-nav
	background-color rgba(0,0,0,1)
	color #fff
	height 42px
	position fixed
	top 0
	width 100%
	z-index 1000
	&.scrolled
		background-color rgba(0,0,0,.8)
	nav
		overflow hidden
		.logo
			margin-top 0.5em
		ul
			list-style none
			overflow hidden
			li
				float left
				overflow hidden
				a
					float left
					height 2.6em
		#mobile-button
			cursor pointer
			font-size 32px
			padding .1em 10px
			width 50px
		.main_menu.hide-menu
			background-color #212121
			bottom: 0
			height: 100%
			overflow: hidden
			position: fixed
			right: -272px
			top: 0
			z-index 2000
			width 272px
		.main_menu.show-menu
			right 0
			li
				border-bottom 1px solid #333333
				float left
				text-align center
				width 100%
				a
					color #fff
					height 1em
					line-height 1em
					margin 1em 0
					width 100%


#post-promoted
	margin-top 42px
	overflow hidden
	position relative
	#category-title
		background-color rgba(75,75,75,.7)
		overflow hidden
		position absolute
		top 0
		left 0
		z-index 9
		text-align center
		h1
			color #fff
			font-size 1.5em
			margin 0
	#image-promoted
		background-color #333
	#post-info
		background-color rgba(75,75,75,.7)
		color #fff
		padding-bottom .8em
		h2
			color #fff
			font-size 1.6em
			font-weight 700
			margin-top 0
			padding-top .4em
			a
				color #fff
		.author-box
			overflow hidden
			padding-top .5em
			.avatar
				float left
				margin-right: 0.5em
				width auto
				img
					border-radius 50%
			.author-info
				float left
				.author-name
					font-size 1.6em
					font-weight 400
					line-height 1em
				.date-post
					font-size 1em

#post-list
	margin-top 1em
	overflow hidden
	article
		margin-bottom 2.5em
		.post-image
			position relative
			.count-comments
				background-color rgba(75,75,75,.8)
				border-radius 0 0 0 5px
				color #fff
				font-size .7em
				padding .3em
				position absolute
				top 0
				right 0
				
			a
				display inline-block
				width 100%
		h2
			color #212121
			font-size 1.4em
			font-weight 700
			margin 0 0 .2em
			padding .4em 0
			a
				color #212121
		.post-footer
			overflow hidden
			.date-post
				color #416AB2

#single-main
	margin-top 42px
	overflow hidden
	position relative
	.single-image
		height 400px
		position relative
		img
			height 400px
			position absolute
			top 0
			max-width: 650px;
		h1
			background-color rgba(75,75,75,.7)
			bottom 0
			color #fff
			font-size 1.8em
			left 0 
			margin 0
			padding .5em .5em
			position absolute
			text-align center
			width 100%
	.single-content
		font-size 1.8em
		padding 1.5em 0
	.single-social
		overflow hidden
		padding-bottom 4em
		text-align center
		.fb-box,
		.twitter-box,
		.gplus-box
			display inline-block
			vertical-align top
	.single-info
		border-bottom 1px solid #919191
		border-top 1px solid #919191
		font-size 1.8em
		margin-bottom 0.7em
		padding 2em 0
		position relative
		text-align center
		&:before
			content ""
			border-top 1px solid #919191
			left 0
			position absolute
			top 3px
			width 100%
		&:after
			content ""
			border-bottom 1px solid #919191
			left 0
			position absolute
			bottom 3px
			width 100%
		.single-post-date
			color hr_blue
			font-size 1rem
	#hr-read-progress
		background-color rgba(0,0,0,.7)
		display table
		height 42px
		position fixed
		text-align left
		top 42px
		width 100% 
		z-index 9
		#hr-progress-bar
			background #edeff0
			position relative
			overflow hidden
			height 10px
			border-radius 5px
			box-shadow 0 1px 0 0 rgba(0,0,0,0.05) inset
			margin 0 0 10px 0
			width 100%
			z-index 2
			.progress
				background-color hr_blue
				font-size 0
				height 10px
				line-height 16px
				transition width linear 0.1s
				.value
					display none
		.hr-text
			font-variant-numeric lining-nums
			font-feature-settings "lnum" 1
			color #fff
			font-weight bold
			letter-spacing 2px
			position relative
			text-align center
			text-transform uppercase
			vertical-align middle
			width 100%
			z-index 2

footer
	background-color rgba(0,0,0,1)
	color #fff
	height 42px
	#footer-nav
		ul
			list-style none
			margin .4em 0
			overflow hidden
			li
				float left
				a
					color #fff
	#footer-redes
		overflow hidden
		figure
			float left
			margin-right .3em
			margin-top .2em
			&:first-child
				margin-right 0

@media screen and (min-width:320px)
	.post-image
		a
			display inline-block
			width 100%
			img 
				width 100%
